*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:hwb(210 40% 7% / 0.442)
}
    
header{
    width: 90%;
    margin: 0 auto;
    background-color: #5fe6b9;
    border-radius: 20px;
    border: black solid 2px;
    .miLogo{
        text-align: center;
        padding: 50;
        margin-top: 20;
        img{
            width: 150px;
            border-radius: 20px;
            margin: 20px;
            border:black 2px solid;
            &:hover{
                border:white 4px solid;
                    }
            }
    }h1{
        color:white;
        font-size: 2rem;
        text-align: center;
        padding: 20px;
        &:hover{
            color:hsl(180, 32%, 45%);
            text-decoration: underline;
                }
        }
    }   
section{
        background-color: #001aff4f;
        padding: 20px;
        width: 30%;
        border-radius: 20px;
        border: black solid 2px;
        margin:60px;
        text-align:right;
        h2{
            color:#ce3a3a;
        }
        .origen{
            color:white;
            border:white 3px solid;
            border-radius: 20px;
            img{
                display:block;
                width: 50%;
                border-radius: 10px;
                margin: auto;
                border:black 2px solid;
                padding:10px;
                text-align:center;
                }
        p{
         color:hsl(210, 25%, 94%);
         text-align: center;
         font-size:2rem;
            } 
          }
        .grado{
            color:white;
            border:white 3px solid;
            border-radius: 20px;
            img{
                display:block;
                width: 50%;
                border-radius: 10px;
                margin: auto;
                border:black 2px solid;
                padding:10px;
                text-align:center;
                }
        p{
            color:hsl(210, 25%, 94%);
            text-align: center;
            font-size:2rem;
            } 
     }
    }
footer{
        background-color: #c6caee4f;
        padding: 20px;
        width: 30%;
        border-radius: 20px;
        border: black solid 2px;
        margin:60px;
        width: 90%;
        text-align:center;
        .img{
            img{
                width: 75px;
                border-radius: 20px;
                margin: 20px;
                border:black 2px solid;
                &:hover{
                border:white 4px solid;
                        }
                }
            }
        }
